<html>
  <head>
    <style type="text/css">
      body {
        background: {{color}};
        color: white;
      }
      div.container {
        max-width: 1000px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Random Pictures</h4>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="https://picsum.photos/images">Lorem Picsum</a></small></p>
    </div>
  </body>
</html>
